@use "scss/variables" as v;

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, v.$prim-blue, v.$sec-blue);
}

body * {
  box-sizing: border-box;
  color: v.$pink;
}

// Utils

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: v.$pink;
}

button {
  background-color: v.$pink;
  color: v.$prim-blue;
  border-radius: 8px;
}

h1 {
    font-size: 5rem;
}

/* Header */
header {
    height: 5vh;
  ul {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 40px;
    margin-top: 40px;
  }
}

.section {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Intro page 

.intro {
  height: 95vh;
}

// Projects page

#projects {
    height: auto;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.card {
    background-color: v.$pink;
    height: 60vh;
    width: 30vw;
    border-radius: 10px;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    * {
        color: v.$prim-blue;
    }

}

.card-body {
    img {
        width: 100%;
    }
    .text-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;

        .tech-list {
        text-align: right;

        li {
            margin-top: 0.5rem;
        }
    }
    }
}

.card-bottom {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 3rem;

}

// About page

// Contact page
.contact-list {
    text-align: left;
    li {
        margin-top: 1rem;
    }
}
