@use "scss/variables" as v;

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, v.$prim-blue, v.$sec-blue);
}

body * {
  box-sizing: border-box;
  color: v.$pink;
}

// Utils

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: v.$pink;
}

button {
  background-color: v.$pink;
  color: v.$prim-blue;
  border-radius: 8px;
}

h1 {
    font-size: 5rem;
}

/* Header */
header {
    height: 5vh;
  ul {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 40px;
    margin-top: 40px;
  }
}

.section {
  text-align: center;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid green;
}

.intro {
  height: 95vh;
}

.card {
    background-color: v.$pink;
    height: 60vh;
    width: 30vw;
    border-radius: 10px;

    * {
        color: v.$prim-blue;
    }

    img {
        width: 20vw;
    }
}
