@use "scss/variables" as v;

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, v.$prim-blue, v.$sec-blue);
  scroll-behavior: smooth;
}

body * {
  box-sizing: border-box;
  color: v.$pink;
  font-family: sans-serif;
}

// Utils

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: v.$pink;
}

#download-link {
  button {
    background-color: v.$pink;
    color: v.$prim-blue;
    border-radius: 6px;
    border: none;
    &:hover {
      background-color: v.$hover-pink;
      cursor: pointer;
    }
  }
}

h1 {
  font-size: 5rem;
  margin-top: -8rem;
}

// General styles
.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
header {
  height: 5vh;
  ul {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 40px;
    margin-top: 40px;
  }
}

// Intro page

#intro {
  height: 95vh;
  text-align: center;
}

// Projects page

#projects {
  height: auto;
}

.card-container {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.card {
  background-color: v.$pink;
  height: 38rem;
  width: 30rem;
  border-radius: 10px;
  padding: 2rem 3rem 0.8rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  * {
    color: v.$prim-blue;
  }
}

.card-body {
  flex-basis: 20rem;
  img {
    width: 100%;
  }
  .text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;

    .project-text {
      margin: 0;
    }

    .tech-list {
      text-align: left;
      padding-left: 5rem;
      margin: 0;

      li {
        margin-top: 0.5rem;
      }
    }
  }
}

.card-bottom {
  flex-basis: 10rem;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 3rem;
}

// About page
.about-container {
  width: 45rem;

  p {
    line-height: 1.3rem;
  }
}

// Contact page
.contact-list {
  text-align: left;
  li {
    margin-top: 1rem;
  }
}
